{
  "openapi" : "3.0.1",
  "servers" : [ {
    "url" : "https://api.malga.io",
    "description" : "Production"
  } ],
  "info" : {
    "version" : "0.5",
    "title" : "Malga API Documentation",
    "description" : "# Authentication\n\nMalga’s API services are protected through access keys. "
  },
  "tags" : [ {
    "name" : "Client-token",
    "description" : "You can create temporary public keys to access the API with limited scope and expiration time."
  }, {
    "name" : "Tokens",
    "description" : "**Parameters’ details of the card token's request"
  }, {
    "name" : "Cards",
    "description" : "**Attributues of a card object**\n\n<SchemaDefinition schemaRef=\"#/components/schemas/Card\"  />\n"
  }, {
    "name" : "Customers",
    "description" : "\nThrough the customer’s API you can create, edit, list, and delete shopper’s data for use in card tokenization services, PIX charges, Invoices (payment slips), use in anti-fraud and recurrence engine analysis."
  }, {
    "name" : "Sessions",
    "description" : "\nUsing sessions API it's possible to create an order, with items, payment methods and more, that can be payed through an endpoint or integrated to MalgaCheckout."
  }, {
    "name" : "Charges",
    "description" : "\nTo implement a charge, you must create a charge object. You can retrieve details of individual transactions, or list all the charges made at a given merchant. ChargeResponses are identified by a 'unique' id."
  }, {
    "name" : "Webhooks",
    "description" : "\nMalga uses the webhooks service to notify your system about events occurring in our platform. Through webhooks you can update your system whenever an important event happens, such as updating the status of charges to confirm or cancel a certain payment."
  }, {
    "name" : "Merchants",
    "description" : "\nThrough the merchant’s APIs, it is possible to create and configure sub-accounts on Malga. A sub account, or merchant, is a registry of a commercial business you have with one of Malga's integrated payment providers. "
  }],
  "x-tagGroups" : [ {
    "name" : "API Key",
    "tags" : [ "Client-token" ]
  }, {
    "name" : "Cards",
    "tags" : [ "Tokens", "Cards" ]
  }, {
    "name" : "Payments",
    "tags" : [ "Customers", "Charges", "Sessions" ]
  }, {
    "name" : "Notification and events",
    "tags" : [ "Webhooks" ]
  }, {
    "name" : "Providers",
    "tags" : [ "Merchants" ]
  }],
  "paths" : {
    "/v1/auth" : {
      "post" : {
        "tags" : [ "Client-token" ],
        "summary" : "Create public key for client-side integration",
        "operationId" : "create_auth_token",
        "requestBody" : {
          "description" : "Creat authentication token",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/AuthRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/AuthRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AuthResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/AuthResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/tokens" : {
      "post" : {
        "tags" : [ "Tokens" ],
        "summary" : "Create new card token",
        "operationId" : "create_token",
        "requestBody" : {
          "description" : "Tokenize credit card",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TokenRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/TokenRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/TokenResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/TokenResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards" : {
      "post" : {
        "tags" : [ "Cards" ],
        "summary" : "Create a new card from card token",
        "operationId" : "saveCard",
        "requestBody" : {
          "description" : "Create credit card",
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CardRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/CardRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/CardResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "List cards",
        "operationId" : "getCards",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "page number"
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "total itens per page"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardList"
                },
                "example" : {
                  "$ref" : "#/components/examples/CardList/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/cards/{id}" : {
      "get" : {
        "tags" : [ "Cards" ],
        "summary" : "Get card details",
        "operationId" : "getCardById",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Card ID"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CardResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/CardResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charges" : {
      "post" : {
        "tags" : [ "Charges" ],
        "summary" : "Create new charge",
        "operationId" : "charge",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/ChargeRequest"
              },
              "examples" : {
                "card" : {
                  "summary" : "Credit card example",
                  "value" : null,
                  "$ref" : "#/components/examples/ChargeCardRequest/value"
                },
                "pix" : {
                  "summary" : "PIX example",
                  "value" : null,
                  "$ref" : "#/components/examples/ChargePixRequest/value"
                },
                "boleto" : {
                  "summary" : "Boleto example",
                  "value" : null,
                  "$ref" : "#/components/examples/ChargeBoletoRequest/value"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeResponse"
                },
                "examples" : {
                  "card" : {
                    "summary" : "Credit card charge example",
                    "value" : {
                      "$ref" : "#/components/examples/ChargeCardResponse"
                    }
                  },
                  "pix" : {
                    "summary" : "PIX charge example",
                    "value" : {
                      "$ref" : "#/components/examples/ChargePixResponse/value"
                    }
                  },
                  "boleto" : {
                    "summary" : "Boleto charge example",
                    "value" : {
                      "$ref" : "#/components/examples/ChargeBoletoResponse/value"
                    }
                  }
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "get" : {
        "tags" : [ "Charges" ],
        "summary" : "List charges",
        "operationId" : "getCharge",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "page number"
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "total itens per page"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeList"
                },
                "example" : {
                  "$ref" : "#/components/examples/ChargeList/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charges/{id}" : {
      "get" : {
        "tags" : [ "Charges" ],
        "summary" : "Get charge details",
        "operationId" : "getChargeByid",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Charge ID"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/ChargeCardResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      },
      "post" : {
        "tags" : [ "Charges" ],
        "summary" : "Change the status of a charge in the sandbox environment",
        "operationId" : "changeStatusTransaction",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          },
          "required" : true,
          "description" : "id of the charge you want to change in the sandbox"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateChargeStatusRequest"
              },
              "example" : {
                "status" : "charged_back"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/ChargeCardResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charges/{id}/capture" : {
      "post" : {
        "tags" : [ "Charges" ],
        "summary" : "Capture pre-authorized charge",
        "operationId" : "captureCharge",
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "pre-authorized ChargeResponse ID"
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CaptureRequest"
              },
              "example" : {
                "amount" : 150
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/ChargeCardResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/charges/{id}/void" : {
      "post" : {
        "tags" : [ "Charges" ],
        "summary" : "Refund authorized charge",
        "operationId" : "refundCharge",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/VoidRequest"
              },
              "example" : {
                "amount" : 150
              }
            }
          }
        },
        "parameters" : [ {
          "in" : "path",
          "name" : "id",
          "schema" : {
            "type" : "string"
          },
          "required" : true,
          "description" : "Charge ID"
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ChargeResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/ChargeCardResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/sessions" : {
      "post" : {
        "summary" : "Create new session",
        "operationId" : "createSession",
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SessionRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/SessionRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/SessionResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      }
    },
    "/v1/sessions/{id}" : {
      "get" : {
        "summary" : "Get session details",
        "operationId" : "getSession",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Session ID",
          "in" : "path",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/SessionResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      },
      "patch" : {
        "summary" : "Update session status",
        "operationId" : "patchSession",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Session ID",
          "in" : "path",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/SessionResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      }
    },
    "/v1/sessions/{id}/charge" : {
      "post" : {
        "summary" : "Pay session",
        "operationId" : "paySession",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Session ID",
          "in" : "path",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/SessionChargeRequest"
              },
              "examples" : {
                "card" : {
                  "summary" : "Credit card example",
                  "value" : null,
                  "$ref" : "#/components/examples/ChargeCardRequest/value"
                },
                "pix" : {
                  "summary" : "PIX example",
                  "value" : null,
                  "$ref" : "#/components/examples/ChargePixRequest/value"
                },
                "boleto" : {
                  "summary" : "Boleto example",
                  "value" : null,
                  "$ref" : "#/components/examples/ChargeBoletoRequest/value"
                }
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionChargeResponse"
                },
                "examples" : {
                  "card" : {
                    "summary" : "Credit card example",
                    "value" : null,
                    "$ref" : "#/components/examples/SessionChargeCardResponse/value"
                  },
                  "pix" : {
                    "summary" : "PIX example",
                    "value" : null,
                    "$ref" : "#/components/examples/SessionChargePixResponse/value"
                  },
                  "boleto" : {
                    "summary" : "Boleto example",
                    "value" : null,
                    "$ref" : "#/components/examples/SessionChargeBoletoResponse/value"
                  }
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      }
    },
    "/v1/sessions/{id}/cancel" : {
      "post" : {
        "summary" : "Cancel session",
        "operationId" : "cancelSession",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Session ID",
          "in" : "path",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CancelSessionResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/CancelSessionResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      }
    },
    "/v1/sessions/{id}/history" : {
      "get" : {
        "summary" : "Recover session history",
        "operationId" : "getSessionHistory",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Session ID",
          "in" : "path",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionHistoryResponse"
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      }
    },
    "/v1/sessions/{id}/link" : {
      "get" : {
        "summary" : "Recover session with company settings",
        "operationId" : "getSessionWithSettings",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Session ID",
          "in" : "path",
          "schema" : {
            "type" : "string",
            "format" : "uuid"
          }
        } ],
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/SessionSettingsResponse"
                }
              }
            }
          }
        },
        "tags" : [ "Sessions" ]
      }
    },
    "/v1/merchants" : {
      "post" : {
        "summary" : "Create new merchant",
        "operationId" : "createMerchant",
        "parameters" : [ ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/MerchantRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/MerchantRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MerchantResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/MerchantResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Merchants" ]
      },
      "get" : {
        "summary" : "List merchants",
        "operationId" : "listMerchants",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "page number"
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "total itens per page"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MerchantList"
                },
                "example" : {
                  "$ref" : "#/components/examples/MerchantList/value"
                }
              }
            }
          }
        },
        "tags" : [ "Merchants" ]
      }
    },
    "/v1/merchants/{id}" : {
      "get" : {
        "operationId" : "getMerchantById",
        "summary" : "Get merchant details",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Merchant ID",
          "in" : "path",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MerchantResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/MerchantResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Merchants" ]
      },
      "delete" : {
        "summary" : "Delete merchant",
        "operationId" : "deleteMerchant",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "in" : "path",
          "description" : "Merchant ID",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "204" : {
            "description" : ""
          }
        },
        "tags" : [ "Merchants" ]
      }
    },
    "/v1/customers" : {
      "post" : {
        "summary" : "Create new customer",
        "operationId" : "createCustomer",
        "parameters" : [ ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CustomerRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/CustomerRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created."
          }
        },
        "tags" : [ "Customers" ]
      },
      "get" : {
        "summary" : "List customers",
        "operationId" : "ListCustomers",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "page number"
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "total itens per page"
        }, {
          "in" : "query",
          "name" : "sort",
          "schema" : {
            "type" : "string",
            "enum" : [ "ASC", "DESC" ]
          },
          "required" : false,
          "description" : "ordering of items"
        }, {
          "in" : "query",
          "name" : "id",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "customer identifier"
        }, {
          "in" : "query",
          "name" : "document.type",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "document type"
        }, {
          "in" : "query",
          "name" : "document.number",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "document number"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerList"
                },
                "example" : {
                  "$ref" : "#/components/examples/CustomerList/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags" : [ "Customers" ]
      }
    },
    "/v1/customers/{id}" : {
      "get" : {
        "summary" : "Get customer details",
        "operationId" : "getCustomer",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Customer ID",
          "in" : "path",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/CustomerResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags" : [ "Customers" ]
      },
      "delete" : {
        "operationId" : "deleteCustomer",
        "summary" : "Delete customer",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "in" : "path",
          "description" : "Custome ID",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          }
        },
        "tags" : [ "Customers" ]
      },
      "patch" : {
        "operationId" : "updateCustomer",
        "summary" : "Update customer",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "in" : "path",
          "description" : "Customer ID",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UpdateCustomerRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The record has been successfully updated."
          }
        },
        "tags" : [ "Customers" ]
      }
    },
    "/v1/customers/{customer_id}/cards" : {
      "post" : {
        "operationId" : "linkCard",
        "summary" : "Add credit card to customers",
        "parameters" : [ {
          "name" : "customer_id",
          "required" : true,
          "description" : "Customer ID",
          "in" : "path",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/LinkCardRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/LinkCardRequest/value"
              }
            }
          }
        },
        "responses" : {
          "204" : {
            "description" : "The card has been linked successfully."
          }
        },
        "tags" : [ "Customers" ]
      },
      "get" : {
        "summary" : "List customer cards",
        "operationId" : "getCustomerCards",
        "parameters" : [ {
          "name" : "customer_id",
          "required" : true,
          "in" : "path",
          "description" : "Customer ID",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CustomerCardList"
                },
                "example" : {
                  "$ref" : "#/components/examples/CustomerCardList/value"
                }
              }
            }
          }
        },
        "tags" : [ "Customers" ]
      }
    },
    "/v1/webhooks" : {
      "post" : {
        "summary" : "Create new webhook",
        "operationId" : "createWebhook",
        "parameters" : [ ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebhookRequest"
              },
              "example" : {
                "$ref" : "#/components/examples/WebhookRequest/value"
              }
            }
          }
        },
        "responses" : {
          "201" : {
            "description" : "Created.",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/WebhookResponse/value"
                }
              }
            }
          }
        },
        "tags" : [ "Webhooks" ]
      },
      "get" : {
        "summary" : "List webhooks",
        "operationId" : "ListWebhooks",
        "parameters" : [ {
          "in" : "query",
          "name" : "page",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "page number"
        }, {
          "in" : "query",
          "name" : "limit",
          "schema" : {
            "type" : "string"
          },
          "required" : false,
          "description" : "total itens per page"
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookList"
                },
                "example" : {
                  "$ref" : "#/components/examples/WebhookList/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags" : [ "Webhooks" ]
      }
    },
    "/v1/webhooks/{id}" : {
      "get" : {
        "summary" : "Get webhook details",
        "operationId" : "getWebhook",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "description" : "Webhook ID",
          "in" : "path",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/WebhookResponse"
                },
                "example" : {
                  "$ref" : "#/components/examples/WebhookResponse/value"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500" : {
            "description" : "Internal Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "tags" : [ "Webhooks" ]
      },
      "delete" : {
        "operationId" : "deleteWebhook",
        "summary" : "Delete webhook",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "in" : "path",
          "description" : "Webhook ID",
          "schema" : {
            "type" : "string"
          }
        } ],
        "responses" : {
          "200" : {
            "description" : ""
          }
        },
        "tags" : [ "Webhooks" ]
      },
      "patch" : {
        "operationId" : "updateWebhook",
        "summary" : "Update webhook",
        "parameters" : [ {
          "name" : "id",
          "required" : true,
          "in" : "path",
          "description" : "Webhook ID",
          "schema" : {
            "type" : "string"
          }
        } ],
        "requestBody" : {
          "required" : true,
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/WebhookRequest"
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "The record has been successfully updated."
          }
        },
        "tags" : [ "Webhooks" ]
      }
    }
  },
  "security" : [ {
    "X-Client-ID" : [ ],
    "X-Api-Key" : [ ]
  } ],
  "components" : {
    "securitySchemes" : {
      "X-Client-ID" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-Client-Id"
      },
      "X-Api-Key" : {
        "type" : "apiKey",
        "in" : "header",
        "name" : "X-Api-Key"
      }
    },
    "schemas" : {
      "PaymentMethodCard" : {
        "type" : "object",
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "credit", "debit" ],
            "description" : "Credit/Debit card charge method"
          },
          "installments" : {
            "type" : "integer",
            "description" : "Installments quantity for credit payments"
          }
        },
        "required" : [ "paymentType" ]
      },
      "PaymentMethodPix" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "pix" ],
            "description" : "Pix charge, the source must be a valid customer"
          },
          "expiresIn" : {
            "type" : "number",
            "description" : "Time in seconds that defines the validity of the charge"
          }
        },
        "required" : [ "paymentType", "expiresIn" ]
      },
      "SessionPaymentMethodCard" : {
        "type" : "object",
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "credit", "debit" ],
            "description" : "Credit/Debit card charge method"
          },
          "installments" : {
            "type" : "integer",
            "description" : "Installments quantity for credit payments"
          }
        },
        "required" : [ "paymentType" ]
      },
      "SessionPaymentMethodPix" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "pix" ],
            "description" : "Pix charge, the source must be a valid customer"
          },
          "expiresIn" : {
            "type" : "number",
            "description" : "Time in seconds that defines the validity of the charge"
          }
        },
        "required" : [ "paymentType", "expiresIn" ]
      },
      "SessionChargeResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "ChargeResponse ID"
          },
          "clientId" : {
            "type" : "string",
            "format" : "uuid",
            "description" : "Client identification on Malga"
          },
          "merchantId" : {
            "type" : "string",
            "format" : "uuid",
            "description" : "Merchant identification used in charge"
          },
          "description" : {
            "type" : "string",
            "description" : "Short description"
          },
          "orderId" : {
            "type" : "string",
            "description" : "Unique identification of order in your side to help future conciliation"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Created date"
          },
          "amount" : {
            "type" : "integer",
            "description" : "Transaction amount in cents, example 100 to charge R$ 1.00"
          },
          "originalAmount" : {
            "type" : "integer",
            "description" : "Transaction original amount in cents, example 100 to charge R$ 1.00"
          },
          "currency" : {
            "type" : "string",
            "description" : "Currency code to be used in charge, ISO 4217 format (see table of types)",
            "default" : "BRL"
          },
          "statementDescriptor" : {
            "type" : "string",
            "description" : "Description to be displayed on the buyer's bank statement"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "created", "paid", "canceled", "voided" ],
            "description" : "Session status"
          },
          "paymentMethod" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/PaymentMethodPixResponse"
            }, {
              "$ref" : "#/components/schemas/PaymentMethodBoletoResponse"
            } ]
          },
          "paymentSource" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/SourceTypeCard"
            }, {
              "$ref" : "#/components/schemas/SourceTypeToken"
            }, {
              "$ref" : "#/components/schemas/SourceTypeCustomer"
            } ]
          },
          "transactionRequests" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TransactionRequest"
            }
          }
        }
      },
      "SessionChargeRequest" : {
        "properties" : {
          "customerId" : {
            "type" : "string",
            "format" : "uuid",
            "description" : "Customer identification"
          },
          "paymentMethod" : {
            "description" : "Payment method to be used",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/SessionPaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodPix"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodBoleto"
            } ]
          },
          "paymentSource" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/SessionSourceTypeCard"
            }, {
              "$ref" : "#/components/schemas/SessionSourceTypeCardOneShot"
            }, {
              "$ref" : "#/components/schemas/SessionSourceTypeToken"
            }, {
              "$ref" : "#/components/schemas/SessionSourceTypeCustomer"
            }, {
              "$ref" : "#/components/schemas/SessionSourceTypeCustomerOneShot"
            } ]
          },
          "fraudAnalysis" : {
            "description" : "Additional parameters for fraud analysis, required by provider's anti-fraud",
            "allOf" : [ {
              "$ref" : "#/components/schemas/FraudAnalysisRequest"
            } ]
          },
          "splitRules" : {
            "description" : "Additional parameters for transacting with Split",
            "allOf" : [ {
              "$ref" : "#/components/schemas/SplitRules"
            } ]
          }
        },
        "required" : [ "paymentMethod", "paymentSource" ]
      },
      "UpdateSessionResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Session ID"
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Whether the session is active"
          }
        }
      },
      "CancelSessionResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Session ID"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "created", "paid", "canceled", "voided" ],
            "description" : "Session status"
          }
        }
      },
      "SessionRequest" : {
        "properties" : {
          "orderId" : {
            "type" : "string",
            "description" : "Unique identification of order in your side to help future conciliation"
          },
          "amount" : {
            "type" : "integer",
            "description" : "Transaction amount in cents, example 100 to charge R$ 1.00"
          },
          "currency" : {
            "type" : "string",
            "default" : "BRL",
            "description" : "Currency code to be used in charge, ISO 4217 format (see table of types)"
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Whether the session is active"
          },
          "capture" : {
            "type" : "boolean",
            "description" : "Whether the transaction should be captured automatically"
          },
          "merchantId" : {
            "type" : "string",
            "description" : "Merchant identification used in charge"
          },
          "dueDate" : {
            "type" : "string",
            "description" : "Session expiration date"
          },
          "name" : {
            "type" : "string",
            "description" : "Session name"
          },
          "description" : {
            "type" : "string",
            "description" : "Session description"
          },
          "statementDescriptor" : {
            "type" : "string",
            "description" : "Description to be displayed on the buyer's bank statement"
          },
          "createLink" : {
            "type" : "boolean",
            "description" : "Whether the session has a Payment Link"
          },
          "paymentMethods" : {
            "description" : "Payment methods available on this session",
            "anyOf" : [ {
              "$ref" : "#/components/schemas/SessionPaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodPix"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodBoleto"
            } ]
          },
          "items" : {
            "type" : "array",
            "description" : "Order items",
            "items" : {
              "$ref" : "#/components/schemas/SessionItemObject"
            }
          }
        },
        "required" : [ "amount", "name", "merchantId", "dueDate", "paymentMethods", "items" ]
      },
      "SessionResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Session ID"
          },
          "name" : {
            "type" : "string",
            "description" : "Session name"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "created", "paid", "canceled", "voided" ],
            "description" : "Session status"
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Whether the session is active"
          },
          "clientId" : {
            "type" : "string",
            "description" : "Client identification on Malga"
          },
          "orderId" : {
            "type" : "string",
            "description" : "Unique identification of order in your side to help future conciliation"
          },
          "amount" : {
            "type" : "integer",
            "description" : "Transaction amount in cents, example 100 to charge R$ 1.00"
          },
          "currency" : {
            "type" : "string",
            "description" : "Currency code to be used in charge, ISO 4217 format (see table of types)"
          },
          "capture" : {
            "type" : "boolean",
            "description" : "Whether the transaction should be captured automatically"
          },
          "merchantId" : {
            "type" : "string",
            "description" : "Merchant identification used in charge"
          },
          "dueDate" : {
            "type" : "string",
            "description" : "Session expiration date"
          },
          "description" : {
            "type" : "string",
            "description" : "Session description"
          },
          "statementDescriptor" : {
            "type" : "string",
            "description" : "Description to be displayed on the buyer's bank statement"
          },
          "items" : {
            "type" : "array",
            "description" : "Order items",
            "items" : {
              "$ref" : "#/components/schemas/SessionItemObject"
            }
          },
          "paymentLink" : {
            "type" : "string",
            "description" : "Link to access Payment Link of this session"
          },
          "paymentMethods" : {
            "type" : "array",
            "description" : "Payment methods available on this session",
            "anyOf" : [ {
              "$ref" : "#/components/schemas/SessionPaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodPixResponse"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodBoletoResponse"
            } ]
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Created date"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Updated date"
          },
          "publicKey" : {
            "type" : "string",
            "description" : "Access key with limited scope, must be used to pay the session"
          }
        }
      },
      "SessionItemObject" : {
        "properties" : {
          "name" : {
            "type" : "string",
            "description" : "Session item name"
          },
          "description" : {
            "type" : "string",
            "description" : "Session item description"
          },
          "unitPrice" : {
            "type" : "number",
            "description" : "Item unit amount in cents, example 100 to charge R$ 1.00"
          },
          "quantity" : {
            "type" : "number",
            "description" : "Item quantity"
          },
          "tangible" : {
            "type" : "boolean",
            "description" : "Whether the item is tangible"
          }
        }
      },
      "SessionHistoryResponse" : {
        "type" : "array",
        "items" : {
          "$ref" : "#/components/schemas/SessionHistoryItem"
        }
      },
      "SessionHistoryItem" : {
        "type" : "object",
        "properties" : {
          "status" : {
            "type" : "string",
            "enum" : [ "created", "paid", "canceled", "voided" ],
            "description" : "Status da sessão"
          },
          "id" : {
            "type" : "string",
            "description" : "Session ID"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Created date"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Updated date"
          }
        }
      },
      "SessionSettingsResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Session ID"
          },
          "name" : {
            "type" : "string",
            "description" : "Session name"
          },
          "status" : {
            "type" : "string",
            "enum" : [ "created", "paid", "canceled", "voided" ],
            "description" : "Session status"
          },
          "isActive" : {
            "type" : "boolean",
            "description" : "Whether the session is active"
          },
          "clientId" : {
            "type" : "string",
            "description" : "Client identification on Malga"
          },
          "orderId" : {
            "type" : "string",
            "description" : "Unique identification of order in your side to help future conciliation"
          },
          "amount" : {
            "type" : "integer",
            "description" : "Transaction amount in cents, example 100 to charge R$ 1.00"
          },
          "currency" : {
            "type" : "string",
            "description" : "Currency code to be used in charge, ISO 4217 format (see table of types)"
          },
          "capture" : {
            "type" : "boolean",
            "description" : "Whether the transaction should be captured automatically"
          },
          "merchantId" : {
            "type" : "string",
            "description" : "Merchant identification used in charge"
          },
          "dueDate" : {
            "type" : "string",
            "description" : "Session expiration date"
          },
          "description" : {
            "type" : "string",
            "description" : "Session description"
          },
          "statementDescriptor" : {
            "type" : "string",
            "description" : "Description to be displayed on the buyer's bank statement"
          },
          "items" : {
            "type" : "array",
            "description" : "Order items",
            "items" : {
              "$ref" : "#/components/schemas/SessionItemObject"
            }
          },
          "paymentLink" : {
            "type" : "string",
            "description" : "Link to access Payment Link of this session"
          },
          "paymentMethods" : {
            "type" : "array",
            "description" : "Payment methods available on this session",
            "anyOf" : [ {
              "$ref" : "#/components/schemas/SessionPaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodPixResponse"
            }, {
              "$ref" : "#/components/schemas/SessionPaymentMethodBoletoResponse"
            } ]
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Created date"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Updated date"
          },
          "publicKey" : {
            "type" : "string",
            "description" : "Access key with limited scope, must be used to pay the session"
          },
          "settings" : {
            "type" : "object",
            "description" : "Company settings",
            "$ref" : "#/components/schemas/UserSettings"
          }
        }
      },
      "UserSettings" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "format" : "uuid",
            "description" : "Company settings ID"
          },
          "email" : {
            "type" : "string",
            "format" : "email",
            "description" : "Company e-mail"
          },
          "phone" : {
            "type" : "string",
            "format" : "phone",
            "description" : "Company phone"
          },
          "statementDescription" : {
            "type" : "string",
            "description" : "Description to be displayed on buyer's invoice"
          },
          "logo" : {
            "type" : "string",
            "format" : "uri",
            "description" : "Company logo URL"
          },
          "mainColor" : {
            "type" : "string",
            "description" : "Main color"
          },
          "secondaryColor" : {
            "type" : "string",
            "description" : "Secondary color"
          },
          "attentionColor" : {
            "type" : "string",
            "description" : "Attention color"
          },
          "errorColor" : {
            "type" : "string",
            "description" : "Error message color"
          },
          "successColor" : {
            "type" : "string",
            "description" : "Success message color"
          },
          "backgroundColor" : {
            "type" : "string",
            "description" : "Background color"
          },
          "companyName" : {
            "type" : "string",
            "description" : "Company name"
          },
          "clientId" : {
            "type" : "string",
            "description" : "Client identification on Malga"
          },
          "documentNumber" : {
            "type" : "string",
            "description" : "Document number registered on company account"
          },
          "language" : {
            "type" : "string",
            "description" : "Default company language"
          }
        }
      },
      "TokenResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Token id"
          },
          "clientId" : {
            "type" : "string",
            "description" : "client identification on Malga"
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Token created date"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Token updated date"
          }
        }
      },
      "ChargeResponse" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "Charge ID"
          },
          "clientId" : {
            "type" : "string",
            "description" : "client identification on Malga"
          },
          "merchantId" : {
            "type" : "string",
            "description" : "merchant identification used in charge"
          },
          "customerId" : {
            "type" : "string",
            "description" : "customer identification"
          },
          "description" : {
            "type" : "string",
            "description" : "short description"
          },
          "amount" : {
            "type" : "integer",
            "description" : "transaction amount in cents, example 100 to charge R$ 1.00"
          },
          "originalAmount" : {
            "type" : "integer",
            "description" : "transaction orignal amount in cents, example 100 to charge R$ 1.00"
          },
          "currency" : {
            "type" : "string",
            "description" : "currency code to be used in charge, ISO 4217 format (see table of types).",
            "default" : "BRL"
          },
          "statementDescriptor" : {
            "type" : "string",
            "description" : "description to be displayed on the buyer's bank statement"
          },
          "capture" : {
            "type" : "boolean",
            "description" : "whether the transaction should be captured automatically"
          },
          "status" : {
            "type" : "string",
            "description" : "charge status on Malga",
            "enum" : [ "pending", "pre_authorized", "authorized", "failed", "canceled", "voided", "refund_pending", "charged_back" ]
          },
          "orderId" : {
            "type" : "string",
            "description" : "Unique identification of order in your side to help future conciliation"
          },
          "paymentMethod" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/PaymentMethodPixResponse"
            }, {
              "$ref" : "#/components/schemas/PaymentMethodBoletoResponse"
            } ]
          },
          "paymentSource" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/SourceTypeCard"
            }, {
              "$ref" : "#/components/schemas/SourceTypeCardOneShot"
            }, {
              "$ref" : "#/components/schemas/SourceTypeToken"
            }, {
              "$ref" : "#/components/schemas/SourceTypeCustomer"
            } ]
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Created date"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Updated date"
          },
          "fraudAnalysisMetadata" : {
            "description" : "Additional parameters for fraud analysis",
            "allOf" : [ {
              "$ref" : "#/components/schemas/FraudAnalysisMetadata"
            } ]
          },
          "transactionRequests" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/TransactionRequest"
            }
          }
        }
      },
      "TransactionRequest" : {
        "properties" : {
          "id" : {
            "type" : "string",
            "description" : "unique identification of request on the provider"
          },
          "providerId" : {
            "type" : "string",
            "description" : "provider identification related to your merchant id"
          },
          "providerType" : {
            "type" : "string",
            "description" : "provider code, see table of supported providers"
          },
          "idempotencyKey" : {
            "type" : "string",
            "description" : "unique identification automatically created by Malga for each request, used to assure idempotency and avoid duplicity, could be used to get transactions in the provider's API or dashboard."
          },
          "authorizationNsu" : {
            "type" : "string",
            "description" : "authorization number retunred by provider",
            "deprecated" : true
          },
          "transactionId" : {
            "type" : "string",
            "description" : "unique identification of transaction on provider, could be used to get transaction in the provider's API."
          },
          "requestType" : {
            "type" : "string",
            "enum" : [ "pending", "authorization", "pre_authorization", "void", "capture", "probe", "charge_back", "zero_dollar", "anti_fraud" ],
            "description" : "type of request performed on provider"
          },
          "requestStatus" : {
            "type" : "string",
            "enum" : [ "running", "failed", "success", "timeout", "internal_error", "processing" ],
            "description" : "status of request processing"
          },
          "amount" : {
            "type" : "integer",
            "description" : "transaction request amount sent to provider, for partial capture/refund the amount could be different from original transaction amount"
          },
          "responseTs" : {
            "type" : "string",
            "description" : "total spent time in request processing"
          },
          "providerError" : {
            "type" : "object",
            "description" : "transaction requet error details",
            "properties" : {
              "message" : {
                "type" : "string",
                "description" : "error message mapped by Malga that describes declined reason"
              },
              "declinedCode" : {
                "type" : "string",
                "description" : "error code mapped by plyg based in the declined code returned by provider"
              },
              "retryable" : {
                "type" : "boolean",
                "description" : "declined code can be or not retried"
              },
              "networkDeniedReason" : {
                "type" : "string",
                "description" : "declined code returned as is from the provider, check in the provider's documentation"
              },
              "networkDeniedMessage" : {
                "type" : "string",
                "description" : "declined message returned as is from the provider"
              }
            }
          },
          "providerAuthorization" : {
            "type" : "object",
            "description" : "additional data returned by provider",
            "properties" : {
              "networkAuthorizationCode" : {
                "type" : "string",
                "description" : "authorization code as returned by provider"
              },
              "networkResponseCode" : {
                "type" : "string",
                "description" : "response code as returned by provider"
              }
            }
          },
          "createdAt" : {
            "type" : "string",
            "description" : "Created date of request"
          },
          "updatedAt" : {
            "type" : "string",
            "description" : "Updated date of request"
          }
        }
      },
      "ChargeRequest" : {
        "properties" : {
          "merchantId" : {
            "type" : "string",
            "description" : "merchant identification to be used in transaction and define the routing rule."
          },
          "amount" : {
            "type" : "integer",
            "description" : "transaction amount in cents, example 100 to charge R$ 1.00"
          },
          "currency" : {
            "type" : "string",
            "description" : "currency code to be used in charge, ISO 4217 format (see table of types).",
            "default" : "BRL"
          },
          "statementDescriptor" : {
            "type" : "string",
            "description" : "description to be displayed on the buyer's bank statement"
          },
          "capture" : {
            "type" : "boolean",
            "description" : "whether the transaction should be captured automatically"
          },
          "orderId" : {
            "type" : "string",
            "description" : "Unique identification of order in your side to help future conciliation"
          },
          "description" : {
            "type" : "string",
            "description" : "Short description to help future conciliation"
          },
          "customerId" : {
            "type" : "string",
            "description" : "Customer identification to help future conciliation"
          },
          "paymentMethod" : {
            "description" : "Payment method to be used",
            "oneOf" : [ {
              "$ref" : "#/components/schemas/PaymentMethodCard"
            }, {
              "$ref" : "#/components/schemas/PaymentMethodPix"
            }, {
              "$ref" : "#/components/schemas/PaymentMethodBoleto"
            } ]
          },
          "paymentSource" : {
            "oneOf" : [ {
              "$ref" : "#/components/schemas/SourceTypeCard"
            }, {
              "$ref" : "#/components/schemas/SourceTypeCardOneShot"
            }, {
              "$ref" : "#/components/schemas/SourceTypeToken"
            }, {
              "$ref" : "#/components/schemas/SourceTypeCustomer"
            }, {
              "$ref" : "#/components/schemas/SourceTypeCustomerOneShot"
            } ]
          },
          "fraudAnalysis" : {
            "description" : "Additional parameters for fraud analysis, required by provider's anti-fraud",
            "allOf" : [ {
              "$ref" : "#/components/schemas/FraudAnalysisRequest"
            } ]
          }
        },
        "required" : [ "amount", "merchantId", "paymentMethod", "paymentSource" ]
      },
      "FraudAnalysisRequest" : {
        "properties" : {
          "customer" : {
            "description" : "customer (payeer) data",
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "customer name"
              },
              "email" : {
                "type" : "string",
                "description" : "customer email"
              },
              "phone" : {
                "type" : "string",
                "description" : "customer phone number"
              },
              "identityType" : {
                "type" : "string",
                "description" : "document type, see table of types"
              },
              "identity" : {
                "type" : "string",
                "description" : "document number"
              },
              "registrationDate" : {
                "type" : "string",
                "description" : "customer registration date"
              },
              "deliveryAddress" : {
                "description" : "Delivery customer address",
                "allOf" : [ {
                  "$ref" : "#/components/schemas/FraudAnalysisAddress"
                } ]
              },
              "billingAddress" : {
                "description" : "Billing customer address",
                "allOf" : [ {
                  "$ref" : "#/components/schemas/FraudAnalysisAddress"
                } ]
              },
              "browser" : {
                "description" : "information about customer browser",
                "allOf" : [ {
                  "$ref" : "#/components/schemas/FraudAnalysisCustomerBrowser"
                } ]
              }
            }
          },
          "cart" : {
            "description" : "Cart of products details",
            "type" : "object",
            "properties" : {
              "items" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "product name"
                    },
                    "quantity" : {
                      "type" : "integer",
                      "description" : "itens of product purchased"
                    },
                    "sku" : {
                      "type" : "string",
                      "description" : "unique product identification on store"
                    },
                    "unitPrice" : {
                      "type" : "integer",
                      "description" : "unit price of product in cents"
                    },
                    "risk" : {
                      "type" : "string",
                      "enum" : [ "high", "low" ],
                      "description" : "product risk of fraud"
                    },
                    "description" : {
                      "type" : "string",
                      "description" : "product description"
                    },
                    "categoryId" : {
                      "type" : "string",
                      "description" : "category which product belongs to"
                    }
                  }
                }
              }
            }
          },
          "device" : {
            "description" : "Customer device details",
            "type" : "object",
            "properties" : {
              "os" : {
                "type" : "object",
                "properties" : {
                  "type" : {
                    "type" : "string",
                    "description" : "Operational system type"
                  },
                  "version" : {
                    "type" : "string",
                    "description" : "Operational system version"
                  }
                }
              },
              "model" : {
                "type" : "string",
                "description" : "Device model"
              },
              "ramCapacity" : {
                "type" : "integer",
                "description" : "Device ram capacity"
              },
              "diskCapacity" : {
                "type" : "integer",
                "description" : "Device disk capacity"
              },
              "freeDiskSpace" : {
                "type" : "integer",
                "description" : "Device disk space still free"
              },
              "resolution" : {
                "type" : "integer",
                "description" : "Device resolution"
              },
              "vendors" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "Vendor attribute name"
                    },
                    "value" : {
                      "type" : "string",
                      "description" : "Vendor attribute value"
                    }
                  }
                }
              },
              "vendorAttributes" : {
                "description" : "Device attributes by vendor",
                "type" : "object",
                "properties" : {
                  "flash" : {
                    "type" : "boolean",
                    "description" : "Device has flash"
                  },
                  "phoneCalls" : {
                    "type" : "boolean",
                    "description" : "Device can make phone calls"
                  },
                  "sendSms" : {
                    "type" : "boolean",
                    "description" : "Device can send sms"
                  },
                  "videoCamera" : {
                    "type" : "boolean",
                    "description" : "Device has video camera"
                  },
                  "cpuCount" : {
                    "type" : "integer",
                    "description" : "Device cpu count"
                  },
                  "simulator" : {
                    "type" : "boolean",
                    "description" : "Device has simulator"
                  },
                  "language" : {
                    "type" : "string",
                    "description" : "Device language"
                  },
                  "idiom" : {
                    "type" : "string",
                    "description" : "Device idiom"
                  },
                  "platform" : {
                    "type" : "string",
                    "description" : "System platform"
                  },
                  "name" : {
                    "type" : "string",
                    "description" : "Device name"
                  },
                  "family" : {
                    "type" : "string",
                    "description" : "Device family"
                  },
                  "retinaDisplay" : {
                    "type" : "boolean",
                    "description" : "Device has retina display"
                  },
                  "camera" : {
                    "type" : "boolean",
                    "description" : "Device has camera"
                  },
                  "model" : {
                    "type" : "string",
                    "description" : "Device model"
                  },
                  "frontCamera" : {
                    "type" : "boolean",
                    "description" : "Device has front camera"
                  }
                }
              }
            }
          }
        }
      },
      "FraudAnalysisAddress" : {
        "type" : "object",
        "properties" : {
          "country" : {
            "type" : "string",
            "description" : "formated in ISO 3166-1 alpha-2"
          },
          "state" : {
            "type" : "string",
            "description" : "address state"
          },
          "city" : {
            "type" : "string",
            "description" : "address city"
          },
          "district" : {
            "type" : "string",
            "description" : "address district or neighboor"
          },
          "zipCode" : {
            "type" : "string",
            "description" : "zip code"
          },
          "street" : {
            "type" : "string",
            "description" : "street address"
          },
          "number" : {
            "type" : "string",
            "description" : "street number address"
          },
          "complement" : {
            "type" : "string",
            "description" : "apartament number or address complement"
          }
        }
      },
      "FraudAnalysisMetadata" : {
        "type" : "object",
        "properties" : {
          "customer" : {
            "description" : "customer (payeer) data",
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "customer name"
              },
              "email" : {
                "type" : "string",
                "description" : "customer email"
              },
              "phone" : {
                "type" : "string",
                "description" : "customer phone number"
              },
              "identityType" : {
                "type" : "string",
                "description" : "document type, see table of types"
              },
              "identity" : {
                "type" : "string",
                "description" : "document number"
              },
              "registrationDate" : {
                "type" : "string",
                "description" : "customer registration date"
              },
              "deliveryAddress" : {
                "description" : "Endereço de entrega",
                "allOf" : [ {
                  "$ref" : "#/components/schemas/FraudAnalysisAddress"
                } ]
              },
              "billingAddress" : {
                "description" : "Endereço de cobrança",
                "allOf" : [ {
                  "$ref" : "#/components/schemas/FraudAnalysisAddress"
                } ]
              }
            }
          },
          "cart" : {
            "description" : "Cart of products details",
            "type" : "object",
            "properties" : {
              "items" : {
                "type" : "array",
                "items" : {
                  "type" : "object",
                  "properties" : {
                    "name" : {
                      "type" : "string",
                      "description" : "product name"
                    },
                    "quantity" : {
                      "type" : "integer",
                      "description" : "itens of product purchased"
                    },
                    "sku" : {
                      "type" : "string",
                      "description" : "unique product identification on store"
                    },
                    "unitPrice" : {
                      "type" : "integer",
                      "description" : "unit price of product in cents"
                    },
                    "risk" : {
                      "type" : "string",
                      "enum" : [ "high", "low" ],
                      "description" : "product risk of fraud"
                    },
                    "description" : {
                      "type" : "string",
                      "description" : "product description"
                    },
                    "categoryId" : {
                      "type" : "string",
                      "description" : "category which product belongs to"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FraudAnalysisCustomerBrowser" : {
        "type" : "object",
        "properties" : {
          "browserFingerprint" : {
            "type" : "string",
            "description" : "fingerprint id generated by browser"
          },
          "cookiesAccepted" : {
            "type" : "boolean",
            "description" : "indicates if cookies has been accepeted"
          },
          "email" : {
            "type" : "string",
            "description" : "logged email address"
          },
          "hostName" : {
            "type" : "string",
            "description" : "user's computer hostname"
          },
          "ipAddress" : {
            "type" : "string",
            "description" : "user's ip address"
          },
          "type" : {
            "type" : "string",
            "description" : "browser's user-agent"
          }
        }
      },
      "VoidRequest" : {
        "properties" : {
          "amount" : {
            "type" : "integer",
            "description" : "the value to be refunded in cents cannot be greater than the transaction value, example 100 to charge R$ 1.00"
          },
          "delayToCompose" : {
            "type" : "integer",
            "description" : "number of days to compose the refunded value. It is only used in NuPay integrations."
          }
        }
      },
      "UpdateChargeStatusRequest" : {
        "properties" : {
          "status" : {
            "type" : "string",
            "description" : "transaction status",
            "enum" : [ "pending", "pre_authorized", "authorized", "failed", "canceled", "voided", "charged_back", "created", "processed", "capture_pending", "refund_pending" ]
          }
        }
      },
      "CaptureRequest" : {
        "properties" : {
          "amount" : {
            "type" : "integer",
            "description" : "the value to be captured in cents cannot be greater than the transaction value, example 100 to charge R$ 1.00"
          }
        }
      },
      "SourceTypeCard" : {
        "type" : "object",
        "description" : "identificação do merchant id a ser utilizado",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `card` para cobrança em cartão tokenizado",
            "enum" : [ "card" ]
          },
          "cardId" : {
            "type" : "string",
            "description" : "Identificador do cartão quando source tipo card (opcional)"
          }
        },
        "required" : [ "sourceType", "cardId" ]
      },
      "SourceTypeToken" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `token` para cobrança no token gerado",
            "enum" : [ "token" ]
          },
          "tokenId" : {
            "type" : "string",
            "description" : "Identificador do token quando source tipo token (opcional)"
          }
        },
        "required" : [ "sourceType", "tokenId" ]
      },
      "SourceTypeCustomer" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `customer` para cobrança no cartão default do comprador",
            "enum" : [ "customer" ]
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identificador do cliente quando source tipo customer, debitando o cartão default do comprador"
          }
        },
        "required" : [ "sourceType", "customerId" ]
      },
      "SourceTypeCustomerOneShot" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `customer` para cobrança no cartão default do comprador",
            "enum" : [ "customer" ]
          },
          "customer" : {
            "type" : "object",
            "properties" : {
              "name" : {
                "type" : "string",
                "description" : "nome do usuario"
              },
              "email" : {
                "type" : "string",
                "description" : "email do usuario"
              },
              "phoneNumber" : {
                "type" : "string",
                "description" : "telefone de contato do usuario"
              },
              "document" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Document"
                } ]
              },
              "address" : {
                "allOf" : [ {
                  "$ref" : "#/components/schemas/Address"
                } ]
              }
            }
          }
        },
        "required" : [ "sourceType", "customerId", "email", "phoneNumber", "document" ]
      },
      "SourceTypeCardOneShot" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `card` para cobrança direta no cartão",
            "enum" : [ "card" ]
          },
          "card" : {
            "type" : "object",
            "properties" : {
              "cardHolderName" : {
                "type" : "string",
                "description" : "Nome do portador do cartão quando cobrança sem tokenização"
              },
              "cardNumber" : {
                "type" : "string",
                "description" : "Número do cartão quando cobrança sem tokenização"
              },
              "cardCvv" : {
                "type" : "string",
                "description" : "Código de verificação cobrança sem tokenização"
              },
              "cardExpirationDate" : {
                "type" : "string",
                "description" : "Mês e ano de validade no formato MM/YYYY quando cobrança sem tokenização"
              }
            }
          }
        },
        "required" : [ "sourceType", "cardHolderName", "cardNumber", "cardCvv", "cardExpirationDate" ]
      },
      "PaymentMethodBoleto" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "boleto" ],
            "description" : "Boleto charge, the source must be a valid customer."
          },
          "expiresDate" : {
            "type" : "string",
            "description" : "Boleto due date, ISO-Date, ex 2017-01-31"
          },
          "instructions" : {
            "type" : "string",
            "description" : "Boleto instructions field. Maximum 255 characters. Use \\n for line break"
          },
          "interest" : {
            "type" : "object",
            "description" : "Optional informations of the fees for delay payment",
            "properties" : {
              "days" : {
                "type" : "integer",
                "description" : "Days after the expiration of the boleto when interest must be charged"
              },
              "amount" : {
                "type" : "integer",
                "description" : "Amount in cents of the interest rate that will be charged peer day"
              },
              "percentage" : {
                "type" : "number",
                "description" : "Amount in percentage of the interest rate that will be charged peer month"
              }
            }
          },
          "fine" : {
            "type" : "object",
            "description" : "Optional information of the fine condition for delay payment",
            "properties" : {
              "days" : {
                "type" : "integer",
                "description" : "Days after the boleto expiration when the fine must be charged"
              },
              "amount" : {
                "type" : "integer",
                "description" : "Fine amount in cents"
              },
              "percentage" : {
                "type" : "number",
                "description" : "Fine amount in percentage"
              }
            }
          }
        },
        "required" : [ "paymentType" ]
      },
      "PaymentMethodPixResponse" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "pix" ],
            "description" : "método da cobrança via PIX, o source deve ser um customer válido."
          },
          "expiresIn" : {
            "type" : "number",
            "description" : "tempo em segundos que define a validade da cobrança."
          },
          "qrCodeData" : {
            "type" : "string",
            "description" : "código copia e cola para o QR code dinâmico gerado, pronto para ser pago."
          },
          "qrCodeImageUrl" : {
            "type" : "string",
            "description" : "link para download da imagem do QR code dinâmico gerado, pronto para ser scaneado e pago."
          }
        },
        "required" : [ "paymentType", "expiresIn", "qrCodeData", "qrCodeImageUrl" ]
      },
      "PaymentMethodBoletoResponse" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "boleto" ],
            "description" : "método da cobrança via Boleto, o source deve ser um customer válido"
          },
          "expiresDate" : {
            "type" : "string",
            "description" : "data de vencimento do boleto em ISO-Date, ex 2017-01-31"
          },
          "barcodeData" : {
            "type" : "string",
            "description" : "código copia e cola do boleto registrado gerado, pronto para pagamento;"
          },
          "barcodeImageUrl" : {
            "type" : "string",
            "description" : "link para download do do boleto registrado gerado, pronto para pagamento;"
          }
        },
        "required" : [ "paymentType", "expiresDate", "barcodeData", "barcodeImageUrl" ]
      },
      "SessionPaymentMethodPixResponse" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "pix" ],
            "description" : "método da cobrança via PIX, o source deve ser um customer válido."
          },
          "expiresIn" : {
            "type" : "number",
            "description" : "tempo em segundos que define a validade da cobrança."
          },
          "qrCodeData" : {
            "type" : "string",
            "description" : "código copia e cola para o QR code dinâmico gerado, pronto para ser pago."
          },
          "qrCodeImageUrl" : {
            "type" : "string",
            "description" : "link para download da imagem do QR code dinâmico gerado, pronto para ser scaneado e pago."
          }
        },
        "required" : [ "paymentType", "expiresIn", "qrCodeData", "qrCodeImageUrl" ]
      },
      "SessionPaymentMethodBoletoResponse" : {
        "properties" : {
          "paymentType" : {
            "type" : "string",
            "enum" : [ "boleto" ],
            "description" : "método da cobrança via Boleto, o source deve ser um customer válido"
          },
          "expiresDate" : {
            "type" : "string",
            "description" : "data de vencimento do boleto em ISO-Date, ex 2017-01-31"
          },
          "barcodeData" : {
            "type" : "string",
            "description" : "código copia e cola do boleto registrado gerado, pronto para pagamento;"
          },
          "barcodeImageUrl" : {
            "type" : "string",
            "description" : "link para download do do boleto registrado gerado, pronto para pagamento;"
          }
        },
        "required" : [ "paymentType", "expiresDate", "barcodeData", "barcodeImageUrl" ]
      },
      "SessionSourceTypeCard" : {
        "type" : "object",
        "description" : "identificação do merchant id a ser utilizado",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `card` para cobrança em cartão tokenizado",
            "enum" : [ "card" ]
          },
          "cardId" : {
            "type" : "string",
            "description" : "Identificador do cartão quando source tipo card (opcional)"
          }
        },
        "required" : [ "sourceType", "cardId" ]
      },
      "SessionSourceTypeToken" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `token` para cobrança no token gerado",
            "enum" : [ "token" ]
          },
          "tokenId" : {
            "type" : "string",
            "description" : "Identificador do token quando source tipo token (opcional)"
          }
        },
        "required" : [ "sourceType", "tokenId" ]
      },
      "SessionSourceTypeCustomer" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
            "description" : "tipo da origem da cobrança, usar `customer` para cobrança no cartão default do comprador",
            "enum" : [ "customer" ]
          },
          "customerId" : {
            "type" : "string",
            "description" : "Identificador do cliente quando source tipo customer, debitando o cartão default do comprador"
          }
        },
        "required" : [ "sourceType", "customerId" ]
      },
      "SessionSourceTypeCustomerOneShot" : {
        "type" : "object",
        "properties" : {
          "sourceType" : {
            "type" : "string",
[...]
